/* 사이드네비게이션 */
* {padding: 0; margin: 0; list-style: none;}

.side {
    position: fixed;
    left: 0;
    top : 100px;
    width: 200px;
    height: 100%;
    background-color: #263238;
    z-index: 10; /* z축의 높이 (버튼을 더 높게) */
    transition: all 0.7s ease-in-out;
}

.side .sidenav {
    margin-top: 50px;
}

.side .sidenav li {
    width: 100%;
}

.side .sidenav li a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #818181;
    text-decoration: none;
    padding: 5px 0 5px 10px;/* 위 오른쪽 아래 왼쪽 */
    box-sizing: border-box;
    overflow: hidden; /* 넘치는 글자에 대해서 숨긴다 */
}

.side .sidenav li a:hover {
    background-color: #00acac;
    color: #fff;
}

.menuBtn {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    position: absolute;/* 부모영역 기반으로 */
    left: 0;
    top: 0;
    z-index: 20; /* z축의 높이 (side를 더 낮게) */
    background-color: #263238;
}
